<div class="sectionfifteen">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="refund">
                            <h2>REFUND POLICY</h2>
                            <p>Since TemplateMonster.com is offering non-tangible irrevocable goods we do not issue refunds once the order is accomplished and the product is sent. As a customer you are responsible for understanding this upon purchasing any item at our site. Please note that our bonuses are offered on behalf of our respected partners and are not an issue for a refund or chargeback.</p>
                            <p>However, we realize that exceptional circumstance can take place with regard to the character of the product we supply.</p>
                            <h4>Therefore, we DO honor requests for the refund on the following reasons:</h4>
                            <p>•	non-delivery of the product: due to some mailing issues of your e-mail provider or your own mail server you might not receive a delivery e-mail from us. In this case we recommend contacting us for assistance. Claims for non-delivery must be submitted to our Billing department in writing within 7 days from the order placing date. Otherwise the product will be considered received and downloaded;</p>
                            <p>•	download and unzipping issues: it may happen so that you are having problems while downloading the product or its unzipping. Claims regarding such issues must be submitted to our Technical Support department. If you do not properly contact us during this period, you agree that we may construe silence as a successful download of the product with no further right of redress or refund for a “download issue” reason. Failure to receive assistance for downloading or unzipping within 3 days may result in a refund decline;</p>
                            <p>•	major defects: although all the products are thoroughly tested before release, unexpected errors may occur. Such issues must be submitted for our Technical Support Team’s approval. We keep the right to rectify the error or defect within 72 hours. If any deficiency is approved and we fail to correct it within 72 hours from the date of the initial complaint letter or any other notification provided by a Customer, the refund will be issued to the customer in full without any compensations or reimbursements. OR, at customer’s choice, replacement of the product of the same or around the same value can be offered; Please be advised that temporary access to your server can be requested by our technicians in order to identify and fix the possible issues with our Products. Failure to provide such access in a timely manner may result in a delayed resolution of the issue. Refusal to provide access to your sever will result in your inability to qualify for a refund.</p>
                            <p>•	product not-as-described: such issues should be reported to our Technical Support Department within 7 days from the date of the purchase. Clear evidence must be provided proving that the purchased product is not as it is described on the website. Complaints which are based merely on the customer’s false expectations or wishes are not honored. Sample products are available for evaluation purpose at our free sample templates section.</p>
                            <p>Our Technical Support Team is always eager to assist you and deliver highly professional support in a timely manner. Thank you for purchasing our products.</p>
                            <p>Contact Us
Live chat: www.template-help.com/chat
Ticket System: www.template-help.com/tickets
Phone:1-347-342-0463
1-518-312-4147
</p>
                            <p>Please give it 12-24 hours for our Support Team to get back to you on the problem.
Requests for a refund are accepted at www.template-help.com/tickets within the period of 1 week after the order is placed. You should accompany this request with detailed and grounded reasons why you apply for a refund. Please make sure your request does not contradict our Terms and Conditions.
A refund is issued to you upon receipt of a Waiver of Copyright signed by you.
</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!--
<div class="sectioneleven">
            <div class="container">
                <div class="career">
                    <div class="carhead">
                        <h3>Frequently Asked Questions</h3>
                    </div>
                    <div class="carbody">
                        <div class="accordion-container">
                         <p class="accordion-header">1.) I'm facing an Issue with the Website/App !</p>
                         <div class="accordion-content">
                              <p>Please write to us at khaanavali@gmail.com with all the details.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">2.) Can I place an Order over a Phone ?</p>
                         <div class="accordion-content">
                              <p>All orders are to be placed through the Website/App only.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">3.) Will you be Responsible for the Quality of the Food ?</p>
                         <div class="accordion-content">
                              <p>We only collect food on your behalf from the outlets and deliver it. And we won’t be accountable for the quality of the food. In case you have any Complaint/Feedback, please write in through the Contact Us webpage and we’ll take it up with the Restaurant in question. Don't forget to tell us the Order Number or Restaurant Name.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">4.) How do I contact Khaanavali customer care ?</p>
                         <div class="accordion-content">
                              <p>You can write to us at khaanavali@gmail.com until customer care service has been setup. We'll notify through the message about the availibility of the said service.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">5.) I am a Restaurant 0wner, How do I tie-up with Khaanavali ?</p>
                         <div class="accordion-content">
                              <p>You can write to us at khaanavali@gmail.com with the Details of your Restaurant and Contact person's Name, Mobile and Email-Id. Our sales team will get in touch with you post reviewing the same.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">6.) What are your delivery hours ?</p>
                         <div class="accordion-content">
                              <p>Our Delivery Hours are subjected to the rules of your city and the Timings of each Restaurant.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">7.) How much time do you take to Deliver ?</p>
                         <div class="accordion-content">
                              <p>This is usually between 30 to 45 minutes ( depends on the traffic also ). We will mention estimated time on Details of every Restaurant.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">8.) Can I order from Multiple Restaurant in a Single Order ?</p>
                         <div class="accordion-content">
                              <p>No. However, you can place orders for Individual Items from different Restaurants as we do not impose a Minimum Order Value.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">9.) Can I Order in Advance ?</p>
                         <div class="accordion-content">
                              <p>No, you cannot order in Advance. All our orders are placed and executed On-Demand.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">10.) Which Cities are you Currently serving ?</p>
                         <div class="accordion-content">
                              <p>Currently we are serving Bangalore.</p>
                         </div>
                        </div>
                    </div>
                    <div class="cartail">
                        <p>Still have Questions ! Write to us at <a href="#">khaanavali@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>-->
