<div class="sectioneight">
            <div class="container">
<!--
                <div class="teambanner">
                    <img src="/sandy/img/teambanner.jpg" alt="Team">
                </div>
-->
                <div class="teamabout">
                    <div class="aboutkhaana">
                        <h3>ABOUT KHAANAVALI</h3>
                        <p>"Khaanavali" is the North Karnataka word for a Hotel. It is a famous hotspot for the kannadigas wherein various spicy dishes of North Karnataka are being served and relished.</p>
                        <p>Our "Khaanavali" is a Food Ordering and Delivery company based out of Bengaluru, Karnataka, India. The main purpose is to provide a complete food ordering and delivery solution from the best khaanavalis across the city to those people who like to relish their native styled cuisines. Thus, encouraging our vendors through our customers to grow their ventures thereby. Our Policies, Payments and delivery system are simple and exclusive. We ensure On-time Deliveries from the vendor's personnel.</p>
                    </div>
                    <div class="aboutus">
                        <h3>ABOUT US</h3>
                        <p>Firstly, we are Proud Kannadigas ! Having years of professional experience in the software industry across top MNC's, the team of Khaanavali came up with an idea to promote and encourage fellow kannadigas to grow their businesses. Hence, the "KHAANAVALI.com".</p>
                    </div>
                </div>
                    <div class="teamimg">
                        <p class="teamcolor">THE TEAM</p>
                        <div class="teamlists">
                            <ul class="teamli">
                                <li>
                                    <a id="inline" href="#d"><img src="/sandy/img/ban.jpg" alt="Team Member"></a>
                                    <h5>Dayasudhan K G</h5>
                                    <p>Founder</p>
                                    <div style="display:none">
                                        <div id="d" class="teamdesc">
                                            <img src="/sandy/img/ban.jpg" alt="Team Member">
                                            <h6>Dayasudhan K G is the founder and concept head behind Khaanavali. He has 10 years of experience in the software industry and has worked in top MNC's like Paypal, Patni etc.</h6>
                                        </div>
                                    </div>
                                </li>
<!--
                                <li>
                                    <a id="inline" href="#m"><img src="img/ban1.jpg" alt="Team Member"></a>
                                    <h5>Madhusudhan K G</h5>
                                    <p>Co-Founder</p>
                                    <div style="display:none">
                                        <div id="m" class="teamdesc">
                                            <img src="img/ban1.jpg" alt="Team Member">
                                            <h6>Madhusudhan K G is the Co-Founder. He has 10+ years of experience in the software industry and has worked in top MNC's like iFlex, Fidility etc.</h6>
                                        </div>
                                    </div>
                                </li>
-->
                                <li>
                                    <a id="inline" href="#p"><img src="/sandy/img/ban2.jpg" alt="Team Member"></a>
                                    <h5>Punith M D</h5>
                                    <p>Lead Graphics Designer</p>
                                    <div style="display:none">
                                        <div id="p" class="teamdesc">
                                            <img src="/sandy/img/ban2.jpg" alt="Team Member">
                                            <h6>Punith M D, ummm.... is attending courses in MAAC and edits images...</h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a id="inline" href="#g"><img src="/sandy/img/ban.jpg" alt="Team Member"></a>
                                    <h5>Gagan Patil</h5>
                                    <p>Lead Android Developer</p>
                                    <div style="display:none">
                                        <div id="g" class="teamdesc">
                                            <img src="/sandy/img/ban.jpg" alt="Team Member">
                                            <h6>Gagan Patil is working as an Android Developer.</h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a id="inline" href="#s"><img src="/sandy/img/ban1.jpg" alt="Team Member"></a>
                                    <h5>Sandeep Patil</h5>
                                    <p>Lead Web Designer</p>
                                    <div style="display:none">
                                        <div id="s" class="teamdesc">
                                            <img src="/sandy/img/ban1.jpg" alt="Team Member">
                                            <h6>I Don't know.....</h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a id="inline" href="#data"><img src="/sandy/img/ban2.jpg" alt="Team Member"></a>
                                    <h5>Lorem Ipsum</h5>
                                    <p>Designation</p>
                                    <div style="display:none">
                                        <div id="data" class="teamdesc">
                                            <img src="/sandy/img/ban2.jpg" alt="Team Member">
                                            <h6>Lorem Ipsum.........</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>