<section class="hero" >
<div class="container">
                            <div class="row" >
                            <li  ng-repeat="hotel in hotellist">
                                <div class="wrapper">
                                    <div class="banner">
                                        <img src="img/ban.jpg" alt="Banner">
                                    </div>
                                    <div class="bandescription">
                                        <h2>Khaanavali Name</h2>
                                        <p>Native Style</p>
                                        <div class="kmenu">
                                            <ul class="khlist">
                                                <li>
                                                    <h3>30 Mins</h3>
                                                </li>
                                                <li>
                                                    <h3>Min. &#8377; 100</h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="bannen">
                                        <a href="menu.html" target="_self"><button type="button" class="btn btn-danger btn-lg">MENU</button></a>
                                    </div>
                                </div>
                            </li>
                               </div>
                        </div>

</section>