<div class="sectionfifteen">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="terms">
                            <h2>TERMS & CONDITIONS</h2>
                            <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
                            <p>The term '[business name]' or 'us' or 'we' refers to the owner of the website whose registered office is [address]. Our company registration number is [company registration number and place of registration]. The term 'you' refers to the user or viewer of our website.</p>
                            <h4>The use of this website is subject to the following terms of use:
</h4>
                            <p>The content of the pages of this website is for your general information and use only. It is subject to change without notice.
    This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us for use by third parties: [insert list of information].
    Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
    Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
                                This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</p>
    <p>All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
    Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.
    From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
    Your use of this website and any dispute arising out of such use of the website is subject to the laws of England, Northern Ireland, Scotland and Wales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!--
<div class="sectioneleven">
            <div class="container">
                <div class="career">
                    <div class="carhead">
                        <h3>Frequently Asked Questions</h3>
                    </div>
                    <div class="carbody">
                        <div class="accordion-container">
                         <p class="accordion-header">1.) I'm facing an Issue with the Website/App !</p>
                         <div class="accordion-content">
                              <p>Please write to us at khaanavali@gmail.com with all the details.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">2.) Can I place an Order over a Phone ?</p>
                         <div class="accordion-content">
                              <p>All orders are to be placed through the Website/App only.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">3.) Will you be Responsible for the Quality of the Food ?</p>
                         <div class="accordion-content">
                              <p>We only collect food on your behalf from the outlets and deliver it. And we won’t be accountable for the quality of the food. In case you have any Complaint/Feedback, please write in through the Contact Us webpage and we’ll take it up with the Restaurant in question. Don't forget to tell us the Order Number or Restaurant Name.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">4.) How do I contact Khaanavali customer care ?</p>
                         <div class="accordion-content">
                              <p>You can write to us at khaanavali@gmail.com until customer care service has been setup. We'll notify through the message about the availibility of the said service.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">5.) I am a Restaurant 0wner, How do I tie-up with Khaanavali ?</p>
                         <div class="accordion-content">
                              <p>You can write to us at khaanavali@gmail.com with the Details of your Restaurant and Contact person's Name, Mobile and Email-Id. Our sales team will get in touch with you post reviewing the same.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">6.) What are your delivery hours ?</p>
                         <div class="accordion-content">
                              <p>Our Delivery Hours are subjected to the rules of your city and the Timings of each Restaurant.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">7.) How much time do you take to Deliver ?</p>
                         <div class="accordion-content">
                              <p>This is usually between 30 to 45 minutes ( depends on the traffic also ). We will mention estimated time on Details of every Restaurant.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">8.) Can I order from Multiple Restaurant in a Single Order ?</p>
                         <div class="accordion-content">
                              <p>No. However, you can place orders for Individual Items from different Restaurants as we do not impose a Minimum Order Value.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">9.) Can I Order in Advance ?</p>
                         <div class="accordion-content">
                              <p>No, you cannot order in Advance. All our orders are placed and executed On-Demand.</p>
                         </div>
                        </div>
                        <div class="accordion-container">
                         <p class="accordion-header">10.) Which Cities are you Currently serving ?</p>
                         <div class="accordion-content">
                              <p>Currently we are serving Bangalore.</p>
                         </div>
                        </div>
                    </div>
                    <div class="cartail">
                        <p>Still have Questions ! Write to us at <a href="#">khaanavali@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>-->
