<div class="sectiontwelve">
            <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
                <div class="row">
                <div class="contact">
                    <h4>Contact us on</h4>
                    <div class="address">
                        <ul class="addlist">
                            <li>
                                <img src="/sandy/img/address.png" alt="Direction">
                                <h5>#519, 24th Main, Jai Maruthi Nagar, Nandini Layout, Bangalore - 560096</h5>
                            </li>
                            <li>
                                <img src="/sandy/img/phone.png" alt="Direction">
                                <h5>+91 - 9566229075</h5>
                            </li>
                            <li>
                                <img src="/sandy/img/mail.png" alt="Direction">
                                <h5><a href="" target="_blank">dayasudhankg@gmail.com</a></h5>
                            </li>                            
                        </ul>
                    </div>
                    <div class="social"> 
                        <h4>Follow us on</h4>
                        <ul class="sociallist">
                            <li><a id="s1" href="https://www.facebook.com/khaanavali/about/?entry_point=page_nav_about_item&tab=overview" target="_blank">Facebook</a></li>
                            <li><a id="s2" href="https://twitter.com" target="_blank">Twitter</a></li>
                            <li><a id="s3" href="https://plus.google.com" target="_blank">Google Plus</a></li>
                            <li><a id="s4" href="https://linkedin.com" target="_blank">LinkedIn</a></li>
                            <li><a id="s5" href="https://instagram.com" target="_blank">Instagram</a></li>
                            <li><a id="s6" href="https://youtube.com" target="_blank">Youtube</a></li>
                            <li><a id="s7" href="blog.html" target="_blank">Blog</a></li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                <div class="row">
                <div class="maps">
                    <div id="map" style="width:100%;height:300px;"></div>
                </div>
                </div>
            </div>
            </div>
        </div>